<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EssentialEscapes_TeamA.My.MySettings.EssentialEscapesDatabase11ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\EssentialEscapesDatabase11.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="EssentialEscapes_TeamA.My.MySettings.EssentialEscapesDatabase11ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\James\Documents\Visual Studio 2013\Projects\EssentialEscapes_TeamA\EssentialEscapesDatabase11.accdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="EssentialEscapes_TeamA.My.MySettings.EssentialEscapesDatabase11ConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\James\Desktop\Desktop 2\Phoenix\POS408 - .Net 1 - Noriel Payongayong\Learning Team\EssentialEscapesDatabase11.accdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>